@mixin underline {
    position: relative;
    padding-bottom: .5rem;
    font-size: 1rem;
    &:before {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 50px;
        height: .2rem;
        background-color: $bg-tertiary;
    }
}