.section-gallery {
    .container-wrapper {
        .col-md-6 {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }
    img {
        width: 100%;
        object-fit: cover;
    }
}