.hiza_dropdown {
    position: relative;
    display: inline-block;
}

    .hiza_dropdown .hiza_dropdown-btn {
        display: inline-block;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        background-color: transparent;
        border: 1px solid #ced4da;
        font-size: 1rem;
        min-width: 10rem;
        text-align: start;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .hiza_dropdown .hiza_dropdown-btn:focus {
        outline: none;
    }

    .hiza_dropdown .hiza_dropdown-menu {
            border-radius: .25rem;
            background-color: #FFFFFF;
            border: 1px solid rgba(0, 0, 0, 0.15);
            position: absolute;
            z-index: 100;
            padding: .5rem 0;
            margin: 0;
            font-size: 1rem;
            min-width: 10rem;
            list-style-type: none;
            max-height: 12rem;
            overflow-y: auto;
            width: 100%;
        }

        .hiza_dropdown .hiza_dropdown-menu .hiza_dropdown-item {
            display: block;
            width: 100%;
            padding: .25rem 1rem;
            clear: both;
            color: #000;
            text-align: inherit;
            text-decoration: none;
            cursor: pointer;
        }

            .hiza_dropdown .hiza_dropdown-menu .hiza_dropdown-item:hover {
                background-color: rgba(0, 0, 0, 0.15);
            }

        .hiza_dropdown .hiza_dropdown-menu.hidden {
            display: none;
        }

    .hiza_dropdown .hiza_dropdown-toggle {
        position: relative;
        padding-right: 1.5rem;
    }

        .hiza_dropdown .hiza_dropdown-toggle:after {
            content: "";
            position: absolute;
            top: 50%;
            right: 0;
            z-index: 2;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            display: inline-block;
            margin-right: 0.7rem;
            vertical-align: 0.255rem;
            border-top: 0.3rem solid;
            border-right: 0.3rem solid transparent;
            border-bottom: 0;
            border-left: 0.3rem solid transparent;
        }

    .hiza_dropdown .hidden {
        display: none !important;
    }

    .hiza_dropdown.icon .hiza_dropdown-btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .hiza_dropdown.icon .hiza_dropdown-box, .hiza_dropdown.icon .hiza_dropdown-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .hiza_dropdown.icon .hiza_dropdown-icon {
        padding-right: .5rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        pointer-events: none;
    }

        .hiza_dropdown.icon .hiza_dropdown-icon img {
            height: .7rem;
            width: auto;
        }

    .hiza_dropdown.icon .hiza_dropdown-label {
        pointer-events: none;
    }

    .hiza_dropdown.search {
        width: 100%;
    }

        .hiza_dropdown.search .hiza_dropdown-btn {
            position: relative;
            height: 38px;
            width: 100%;
        }

        .hiza_dropdown.search .hiza_dropdown-input {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 0.375rem 0.75rem;
            border: unset;
            opacity: 0;
        }

            .hiza_dropdown.search .hiza_dropdown-input:focus {
                outline: unset;
            }

        .hiza_dropdown.search .hiza_dropdown-box {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }

        .hiza_dropdown.search .no_result {
            padding: 0.375rem 0.75rem;
            cursor: default;
        }

        .hiza_dropdown.search .focus {
            opacity: 1;
        }

        .hiza_dropdown.search .opacity_50 {
            opacity: .5 !important;
        }

        .hiza_dropdown.search .opacity_100 {
            opacity: 1 !important;
        }
/*# sourceMappingURL=hiza-dropdown.css.map */
