.sign {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    margin-bottom: 4rem;
    padding: 1rem;
    background-color: $color-white;
    max-width: 40rem;
    position: relative;
    border-radius: .45rem;
    @include drop-shadow-lg;
    @media screen and (max-width: 767px) {
        margin-top: 5rem;
    }
    .sign_col:first-child {
        width: 50%;
    }
    .sign_col:last-child {
        border-left: 1px solid $color-silver02;
        width: 50%;
    }
    .sign_logo {
        text-align: center;
        padding-bottom: 1rem;
        img {
            height: 5rem;
            filter: drop-shadow(0px 0px 2px rgba(0,0,0,.5));
        }
    }
    a {
        display: block;
        text-align: center;
        text-decoration: none;
    }
    .p {
        text-align: center;
    }
    .sign_social {
        display: flex;
        justify-content: space-between;
        max-width: 10rem;
        width: 100%;
        margin: 0 auto;
        .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            width: 1.9rem;
            height: 1.9rem;
            border-radius: 50%;
            border: 1px solid $color-silver02;
            @include hover;
            &:hover {
                opacity: .8;
            }
        }
        .icon.facebook {
            &:hover {
                color: #3b5999;
            }
        }
        .icon.instagram {
            &:hover {
                color: #e4405f;
            }
        }
        .icon.google {
            &:hover {
                color: #dd4b39;
            }
        }
        .icon.twitter {
            &:hover {
                color: #55acee;
            }
        }
    }
    .sign_portals {
        div {
            border-radius: 50%;
            background-color: $color-white;
            border: 1px solid $color-silver02;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2.3rem;
            height: 2.3rem;
            margin: .4rem;
            img {
                /*width: 1.2rem;
                height: 1.2rem;*/
            }
        }
    }
    .loading {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        @include hover;
        img {
            width: 4rem;
            height: 4rem;
        }
    }
}
.bg_sign {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgb(69,123,157);
    background: linear-gradient(180deg, rgba(69,123,157,1) 0%, rgba(29,53,87,1) 100%);
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .clouds {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 2;
    }
    .stars {
        i {
            position: absolute;
            z-index: 1;
            background-color: $color-white;
            border-radius: 50%;
            animation: animate linear infinite;
        }
    }
    @keyframes animate {
        0% {
            opacity: 0;
            transform: translateY(0);
        }
        10%,90% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            transform: translateY(-100px);
        }
    }
}

.sign_new {

    overflow-y: auto;

    .sign_header {
        margin-bottom: 8rem;
    }

    .sign_portals_wrapper {
        max-width: 10rem;
        width: 100%;
        margin-left: 5rem;
        padding-top: 6rem;

        @media screen and (max-width: 1199px) {
            max-width: unset;
            margin-left: 0;
        }
    }

    .sign_portals {
        div {
            border-radius: 50%;
            background-color: $color-white;
            border: 1px solid $color-silver02;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2.3rem;
            height: 2.3rem;
            margin: .4rem;

            img {
                width: 1.2rem;
                height: 1.2rem;
            }
        }
    }

    .sign_card {
        border-radius: .45rem;
        box-shadow: 0 2px 7px rgba(0,0,0,.3);

        .sign_card_wrapper {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

            div {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }
}