.view {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;

    .main_menu_left {
        flex: 0 0 3.8rem;

        @media screen and (max-width: 767px) {
            display: none;
        }

        @media screen and (max-height: 600px) {
            display: none;
        }

        .logo {
            img {
                width: 3.8rem;
                padding: .5rem .7rem;
                border-radius: .25rem;
            }
        }
    }

    .view_items {
        flex: 1;
        height: 100vh;
    }

    .view_header {
        padding: 0 1.2rem;
        height: 3.7rem;
        z-index: 2;

        @media screen and (max-width: 767px) {
            padding-left: .5rem;
        }

        @media screen and (max-height: 600px) {
            padding-left: .5rem;
        }

        .view_header_mobile_label {
            @media screen and (max-width: 767px) {
                font-size: 1rem;
            }

            @media screen and (max-width: 450px) {
                font-size: .8rem;
            }
        }

        .view_sidebar {
            .view_sidebar_item {
                cursor: pointer;
                @include hover;
                width: 2.8rem;
                height: 2.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: .25rem;

                i {
                    @include hover;
                }

                &:hover {
                    background-color: rgba(255,255,255,.2);
                }

                &:active {
                    opacity: .8;
                    transform: scale(.95);
                }

                .notice {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 1.2rem;
                    height: 1.2rem;
                    font-size: .7rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    font-weight: 500;
                    background-color: $color-red;
                    line-height: normal;
                }
            }

            .view_sidebar_item.open {
                background-color: rgba(255, 255, 255, 0.2);
            }

            .view_sidebar_line_y {
                margin: .3rem .7rem;

                @media screen and (max-width: 767px) {
                    margin: .3rem;
                }
            }

            .view_sidebar_line_y.white {
                border-right: 1px solid rgba(255,255,255,.2);
            }

            .view_sidebar_line_y.black {
                border-right: 1px solid rgba($color-black, .2);
            }
        }

        .view_user {
            border-radius: 50%;
            overflow: hidden;
            box-shadow: 0px 1px 5px rgba(255,255,255,.2);
            cursor: pointer;
            margin-left: 1rem;
            width: 2.4rem;
            height: 2.4rem;
            box-shadow: 0 1px 5px rgba($color-black, .3);

            @media screen and (max-width: 767px) {
                margin-left: .5rem;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .view_user_wrapper {
            position: relative;

            .view_user_dropdown_menu {
                position: absolute;
                top: 120%;
                right: 0;
                z-index: 10;
                background-color: $color-white;
                list-style: none;
                padding: 0;
                margin: 0;
                min-width: 14rem;
                border-radius: .45rem;
                @include drop_shadow_lg;
                overflow: hidden;

                .view_user_dropdown_item:first-child {
                    padding-top: .5rem;
                }

                .view_user_dropdown_item:last-child {
                    padding-bottom: .5rem;
                }

                .view_user_dropdown_link {
                    display: block;
                    color: $color-black;
                    text-decoration: none;
                    padding: .5rem .8rem;
                    cursor: pointer;

                    &:hover {
                        background-color: $color-primary;
                        color: $color-white;
                    }
                }
            }
        }

        .little_icon {
            position: absolute;
            bottom: -.2rem;
            right: .4rem;
            font-size: .8rem;
        }
    }

    .view_content {
        padding: 1rem 1.2rem;
        flex: 1;
        overflow-y: auto;
        /*        z-index: 1;
*/
        .view_panel {
            filter: drop-shadow(0 1px 2px rgba(0, 0, 0,.2));

            .panel_line_y {
                margin: .2rem .9rem;
                display: block;
                position: relative;

                @media screen and (max-width: 575px) {
                    margin: .2rem .5rem;
                }

                &:before {
                    content: "";
                    background-color: rgba(255,255,255,.2);
                    width: 1px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 70%;
                }
            }

            .panel_item {
                @include hover;
                cursor: pointer;
                user-select: none;
                position: relative;
                border-radius: .25rem;

                &:hover {
                    background-color: rgba(255,255,255,.1);
                }
            }
        }

        .view_welcome {
            color: $color-white;
            @include hover;
            filter: drop-shadow(0 1px 1px rgba(0, 0, 0,.5));

            .view_welcome_line_y {
                border-right: 1px solid $color-white;
                margin: .2rem .5rem;
            }
        }

        #dropdown_arrivals_today {
            left: 0;
        }

        #dropdown_arrivals_tomorrow {
            left: 4rem;
        }

        #dropdown_departures_today {
            left: 11rem;
        }

        #dropdown_departures_tomorrow {
            left: 16rem;
        }

        .view_main_left_panel {
            @include hover;
        }

        .view_main_left_panel.active {
            @media screen and (max-width: 1150px) {
                opacity: .4;
            }
        }

        .content {
            .custom_col_01 {
                flex: 0 0 26rem;
                padding-left: 15px;
                padding-right: 15px;

                @media screen and (max-width: 997px) {
                    flex: 0 0 100%;
                }
            }

            .custom_col_02 {
                flex: 1;
                padding-left: 15px;
                padding-right: 15px;

                @media screen and (max-width: 997px) {
                    flex: 0 0 100%;
                }
            }
        }
    }

    .view_filter {
        padding: .5rem 0;
        border-bottom: 2px solid rgba($color-silver02,.5);
        @include drop_shadow_md;
         width: calc(100vw - 61px);

        @media screen and (max-width: 767px) {
            width: 100vw;
            overflow-x: auto;
        }

        @media screen and (max-height: 500px) {
            display: none !important;
        }

        .filter_line_y {
            margin: 0 .5rem;
            height: 2.7rem;
            border-right: 1px solid $color-silver02;
        }

        .filter_search_name {
            .search_icon {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                font-size: .9rem;
                height: 100%;
                padding: .5rem;
                cursor: pointer;
            }
        }

        .filter_print {
            cursor: pointer;
            display: flex;
            padding: .4rem;
            border-radius: .45rem;
            @include hover;

            &:hover {
                background-color: rgba($color-silver02,.5);
            }
        }

        .filter_link {
            @include hover;
            border-radius: .45rem;
            padding: .65rem;
            text-decoration: none;
            color: $color-black;
            display: flex;
            align-items: center;
            white-space: nowrap;
            cursor: pointer;

            &:hover {
                background-color: rgba($color-silver02,.5);
            }

            i {
                font-size: 1.4rem;
            }
        }

        .filter_calendars {
            width: 1.4rem;
            min-width: 1.4rem;
            height: 1.4rem;
            display: block;

            i {
                font-size: .75rem;
                position: absolute;
                filter: drop-shadow(0 0 4px white);
            }

            i:first-child, i:last-child {
                top: 0;
            }

            i:first-child {
                left: 0;
            }

            i:last-child {
                right: 0;
            }

            i:nth-child(2) {
                bottom: .1rem;
                left: 50%;
                transform: translateX(-50%);
                background-color: $color-white;
                z-index: 1;
                padding: .07rem;
                border-radius: .1rem;
            }
        }

        .filter_calendar {
            min-height: 2.9rem;
        }
        
        #filter_reports {
            @media screen and (max-width: 575px) {
                display: none;
            }
        }

        .active {
            position: relative;

            &:before {
                content: "";
                position: absolute;
                left: 0;
                bottom: top;
                width: 100%;
                height: 100%;
                background-color: rgba($color-silver02,.3);
                border-radius: .25rem;
                border-bottom: 5px solid $color-primary;
            }
        }
    }

    .filter_label {
        min-width: 2rem;
    }

    .view_search {
        border: 1px solid rgba($color-silver02,.5);
        border-radius: .25rem;

        .view_search_wrapper {
            background-color: rgba($color-silver02, .5);
            border-radius: .25rem 0 0 .25rem;
            display: block;
        }
    }

    .view_calendar {
        overflow-x: auto;
        display: grid;
        flex: 1;
        height: 100%;
        padding-top: .7rem;
    }

    .view_items.bg-white {
        .view_header {
            background-color: rgba($color-silver02,.1);
        }
    }
}
.view_nav_mobile {
    transition: .2s ease-in-out;
    position: relative;
    @media screen and (max-width: 767px) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
    @media screen and (max-height: 600px) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
    .backdrop_filter {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(3px);
        background-color: rgba(0,0,0,.7);
        z-index: -1;
    }
    .logo {
        img {
            width: 4rem;
            padding: .5rem;
        }
    }
    .mobile_close {
        position: absolute;
        top: .8rem;
        right: .4rem;
        color: $color-white;
        padding: .3rem 1rem;
        font-size: 1.7rem;
        cursor: pointer;
    }
}
.view_task {
    position: absolute;
    right: 0;
    top: 4rem;
    bottom: 0;
    z-index: 2;
    width: 20rem;
    margin: .5rem;
    color: $color-white;
    overflow: hidden;
    @include hover;
    @media screen and (max-width: 767px) {
        position: fixed;
        width: 100%;
        height: 100%;
        padding: 1rem;
        z-index: 3;
        margin: 0;
        top: 0;
    }
    @media screen and (max-width: 767px) {
        .backdrop {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            backdrop-filter: blur(3px);
            background-color: rgba(0,0,0,.7);
            z-index: -1;
        }
    }
    .task_plus {
        padding: 0 .3rem;
        cursor: pointer;
        @include hover;
        &:hover {
            opacity: .7;
        }
    }
    .task_list {
        margin-top: .5rem;
        .task_card {
            border-radius: .45rem;
            padding: .3rem .5rem;
            margin-bottom: .5rem;
            width: 100%;
            @include drop_shadow_md;
            font-size: .875rem;
            position: relative;
            color: $color-black;
            background-color: $color-white;
 /*           .backdrop_filter {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: rgba(0, 0, 0, 0.5);
                backdrop-filter: blur(3px);
                z-index: -1;
                border-radius: .45rem;
            }*/
            .task_card_heading {
                display: flex;
                align-items: center;
                .task_card_status {
                    margin-right: .5rem;
                    display: flex;
                }
            }
            .task_card_title {
                padding-right: 2.5rem;
                font-weight: bold;
            }
            .task_card_text {
                line-height: 1.2;
            }
            .task_card_icons {
                position: absolute;
                top: .3rem;
                right: .3rem;
                span {
                    @include hover;
                    display: flex;
                    padding: .2rem;
                    cursor: pointer;
                    opacity: 0;
                }
            }
            .task_card_check {
                cursor: pointer;
                display: flex;
                padding: .2rem;
                opacity: 0;
                @include hover;
            }
            .task_card_check.checked {
                opacity: 1 !important;
                color: $color-green !important;
            }
        }
        .task_card:hover {
            .task_card_icons {
                span {
                    opacity: .5;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
            .task_card_check {
                opacity: .5;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    .task_list_wrapper {
        overflow-y: auto; 
        height: 90%;
        @media screen and (max-height: 600px) {
            height: 80%;
        }
    }
}
.view_task.hidden {
    right: -21rem;
    opacity: 0;
    display: none;

}
.view_rents {
    width: 100%;
    max-width: 17rem;
    position: absolute;
    top: 7rem;
    bottom: 0;
    z-index: 2;
    overflow-y: auto;
    @include hover;
    @media screen and (max-width: 600px) {
        left: 0 !important;
    }
    .rents_card {
        @include drop_shadow_lg;
        background-color: $color-white;
        padding: .5rem .6rem .1rem;
        width: 100%;
        border-radius: .45rem;
        font-size: .9rem;
        cursor: pointer;
        margin-bottom: .5rem;
        position: relative;
        overflow: hidden;
    }
}
.view_notification {

    position: absolute;
    right: 0;
    top: 3.3rem;
    bottom: 0;
    z-index: 2;
    width: 20rem;
    margin: .5rem;
    overflow: hidden;
    @include hover;
    @include drop_shadow_lg;
    border-radius: .45rem;
    background-color: $color-white;

    @media screen and (max-width: 767px) {
        right: 0;
        position: fixed;
        width: 100%;
        height: 100%;
        padding: 1rem;
        z-index: 3;
        margin: 0;
        top: 0;
        border-radius: 0;
    }
    /*   .notification_card {
        border-radius: .45rem;
        padding: .3rem .5rem;
        margin-bottom: .5rem;
        width: 100%;
        @include drop_shadow_md;
        font-size: .875rem;
        position: relative;
        background-color: $color-white;
    }*/
    .font_wrapper {
        &:hover {
            .clean_all {
                opacity: .8;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    .clean_all {
        margin-left: .5rem;
        cursor: pointer;
        @include hover;
        opacity: 0;

        @media screen and (max-width: 767px) {
            opacity: 1;
        }
    }

    .notification_list_wrapper {
        overflow-y: auto;
        height: 90%;
    }
}
.view_new_rent {
    margin-top: 1rem;
    span {
        border-radius: .25rem;
        display: inline-flex;
        align-items: center;
        padding: .5rem 1rem;
        cursor: pointer;
        @include hover;
        &:hover, &:active {
            background-color: rgba($color-white, .1);
        }
    }
}
.view_task, .view_notification {
    @media screen and (min-width: 768px) {
        .close_wrapper {
            display: none;
        }
    }
}
.view_notification.active {
    right: 21rem;
    @media screen and (max-width: 767px) {
        right: 0;
    }
}
/*.icons_location_wrapper {
    position: relative;
    .fa-map-marker-alt {
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke: .5px white;
        position: absolute;
        top: 31%;
        right: 5px;
        font-size: .9rem !important;
    }
}*/
.content.object_calendars {
    .today {
        background-color: $color-secondary;
        color: $color-white;
    }
    .reservation {
        background-color: $color-primary;
        color: $color-white;
    }
    .overbooking {
        background-color: $color-red;
        color: $color-white;
    }
    .disable {
        background-color: rgba(221, 221, 221, 0.5) !important;
        color: #adadad !important;
    }
}
.view_weahter_widget {
    @include drop_shadow_md;
    border-radius: .45rem;
    overflow: hidden;
    @media screen and (max-width: 991px) {
        display: none;
    }
}
#view_weather_widget_item.hide {
    display: none;
}
.content.settings {
    .img_avatar_wrapper {
        position: relative;
    }
    .img_avatar {
        width: 8rem;
        height: 8rem;
        border-radius: .25rem;
        overflow: hidden;
        @include drop_shadow_lg;
        cursor: pointer;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .social_media_icon {
        border-radius: 50%;
        border: 1px solid $color-silver02;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.3rem;
        height: 2.3rem;
        color: $color-white;
    }
}
.content.subscription {
    .date_next_billing {
        position: relative;
        .calendar {
            opacity: .4;
        }
        .check {
            position: absolute;
            bottom: .2rem;
            left: -.2rem;
            color: $color-green;
            i {
                background-color: $color-white;
                border-radius: 50%;
            }
        }
    }
}
.add_new_reservation {
    @include hover;
    border-radius: .45rem;
    &:hover {
        background-color: rgba(255,255,255,.1);
    }
}