<footer class="footer">

    <div class="row g-0 justify-content-between fs--1 mt-4 mb-3">

        <div class="col-12 col-sm-auto text-center b">

            <p class="mb-0 text-600">

                <i class="fas fa-heart"></i> &nbsp;
                <span class="fw-bold"> Thank you </span> for working with zaggy
                <span class="d-none d-sm-inline-block">| </span><br class="d-sm-none" /> 
                @System.DateTime.Now.Year.ToString() &copy; 
                <a href="https://zaggys.com" target="_blank"> zaggy </a> & <a href="https://syncbeds.com" target="_blank"> SyncBeds </a> 
                <span class="d-none d-sm-inline-block">| </span>
                <br class="d-sm-none" />
                <span class="fw-bold"> Smart </span> tourism solutions

            </p> 
            
        </div>

        <div class="col-12 col-sm-auto text-end">
            <p class="mb-0 text-600">
                <i class="fas fa-code-branch"></i> &nbsp; 
                V#@Settings.ver_app - 
                @bl.sys.server.db_name() | @bl.sys.server.db_hostname() | @bl.sys.ip.ip_public_icanhazip()
            </p>
        </div>

    </div>

</footer>
