<div class="row position-fixed top-50 start-50 translate-middle p-3" style="z-index:11000;">
    <div class="col-md-12 text-center">
        <img src="/assets/images/zagreb_logo.png" style="height: 100px;">
    </div>
</div>