@code {
    //var dt = bl.countries.contires_list();
    System.Data.DataTable dt;

    protected override void OnInitialized()
    {
        dt = bl.countries.contires_list();
    }
}
<div class="menu transition hidden" tabindex="-1">
    <div class="item" data-value=" "> - - - @*@bl.lng.l.No_country*@</div>
    @foreach (System.Data.DataRow r in dt.Rows)
    {
        <div class="item" data-value="@r["id"]">
            <img src="/assets/images/flags/@string.Concat(r["code2"].ToString().ToLower(),".png")" />@r["country"].ToString()
        </div>
    }
</div>