.view_modal {
    .carousel {
        .close {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;
        }
        .carousel-item {
            img {
                height: 75vh;
                object-fit: cover;
                @media screen and (max-width: 767px) {
                    height: 25rem;
                }
            }
        }
    }
}