.ql-editor {
    height: 13rem !important;
}
.ql-toolbar.ql-snow, .ql-container.ql-snow {
    border: 1px solid $table-line-silver !important;
}
.ql-toolbar.ql-snow {
    border-radius: .25rem .25rem 0 0 !important;
}
.ql-container.ql-snow {
    border-radius: 0 0 .25rem .25rem !important;
}