.view_loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,.7);
    backdrop-filter: blur(1px);
    border-radius: 0.45rem;

    /* Do not allow select */
    user-select: none;
    -webkit-user-select: none;

    img {
        width: 4rem;
        height: 4rem;
    }
}
