.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: 0.5em 0;
}

.ui-datepicker tbody td {
    height: 40px;
}

.ui-datepicker td {
    border: none!important;
    padding: 1px;
}

.ui-datepicker thead {
    background-color: #fff;
}

